# Секреты
server/.env
.env

# Базы данных и логи
server/dev.db
server/dev.db-journal
*.log

# Мусор и зависимости
node_modules/
server/node_modules/
dist/
server/public/
.DS_Store
server/prisma/dev.db

# Server secrets
server/.env
server/prisma/dev.db
server/prisma/dev.db-journal
